body {
  font-family: 'Roboto', sans-serif;
}

.card-list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: #fafafa;
  border: 1px solid #dedede;
  border-radius: 10px;
  overflow: hidden;

  &__image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;

    &__image {
      width: 100%;
    }

    &__favourite {
      position: absolute;
      top: 4px;
      right: 8px;

    }
  }

  &__content-block {
    padding: 16px;
    box-sizing: border-box;

    &__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      margin-bottom: 8px;

      &__title {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 193px;
        font-size: 20px;
        font-weight: 500;
      }

      &__article {
        width: fit-content;
        color: rgba(0, 0, 0, 0.6);
      }
    }

    &__color {
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 12px;
    }

    &__button-block {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__price {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}