.cart-content-container {
  padding: 0 50px;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
}

.cart-card-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  gap: 16px;
}

.cart-card {
  display: flex;
  width: 100%;
  gap: 12px;
  padding: 16px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  box-sizing: border-box;

 &__image-container {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 6px;
   max-height: 100px;
   max-width: 100px;
   overflow: hidden;

   &__image {
     height: 100%;
   }
 }
  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px 0;
    justify-content: space-between;
    gap: 24px;

    &__header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      &__title {
        font-size: 24px;
        font-weight: 500;
      }

      &__delete {
        padding: 4px;
        background-color: white;
        border: none;
        border-radius: 4px;
        box-sizing: border-box;

        &:hover {
          background-color: #f6f6f6;
          cursor: pointer;
        }

      }
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__counter {
        display: flex;
        gap: 16px;
        align-items: center;

        &__button {
          background-color: white;
          border: 1px solid #dedede;
          border-radius: 4px;
          width: 35px;
          height: 35px;
          font-size: 20px;

          &:hover {
            background-color: #f6f6f6;
            cursor: pointer;
          }

          &:disabled {
            pointer-events: none;
          }
        }

        &__count {
          font-size: 20px;
        }
      }

      &__price {
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
}

.total {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 4px 25.1px 0px rgba(0, 0, 0, 0.10);
  position: fixed;
  bottom: 0;
  left: 0;

  &__content {
    display: flex;
    align-items: center;
    gap: 10px;

    &__caption {
      font-size: 24px;
      color: rgba(0, 0, 0, 0.6);
    }

    &__price {
      font-size: 24px;
      color: black;
      font-weight: 500;
    }
  }
}