.form__body {
  position: relative;
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-container {
  position: fixed;
  right: 50px;
  padding: 16px;
  width: 500px;
  height: fit-content;
  background-color: #ffffff;
  border: 2px solid #F2F2F2;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  &__title {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .form {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-direction: column;

    &__input-container {
      display: flex;
      gap: 4px;
      flex-direction: column;
      width: 100%;

      & label {
        font-size: 14px;
      }

      &__input {
        height: 44px;
        border: 1px solid #dedede;
        background-color: white;
        border-radius: 6px;
        padding: 0 12px;
        box-sizing: border-box;
        font-size: 16px;

        &--error {
          color: #b00909;
          border-color: #b00909;

          &::placeholder {
            color: #b00909;
          }
        }

        &::placeholder {
          font-size: 16px;
        }

        &:hover {
          box-shadow: 0px 0px 19.8px 0px rgba(0, 0, 0, 0.05);
          border-color: rgba(7, 7, 168, 0.2);
        }
      }

      &__error {
        font-size: 14px;
        color: #b00909;
      }
    }

    &__payment-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__txt {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.56);
      }

      &__total {
        font-size: 22px;
        font-weight: 500;
        color: rgb(0, 0, 0);
      }
    }

    &__button {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      color: white;

      background-color: #5237ff;
      height: 44px;
      border: none;
      border-radius: 6px;

      &:hover {
        background-color: #3920d9;
        cursor: pointer;
      }
    }
  }
}