
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 16px;

  &-dark {
    background-color: #065c9d;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &__input {
    width: 300px;
    height: 40px;
    padding: 4px 10px;
    box-sizing: border-box;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    font-size: 16px;
  }

  &__button {
    width: 70px;
    height: 40px;
    background-color: #1086e3;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;

    &:hover {
      background-color: #0771c2;
      cursor: pointer;
    }

    &:active {
      background-color: #065c9d;
    }
  }
}






.todo-list {
  display: flex;
  flex-direction: column;
  width: 378px;

  &__todo {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-sizing: border-box;

    &-underline {
      text-decoration: underline;
    }
  }
}


.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    background-color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    box-sizing: border-box;

    &__title {
      font-size: 20px;
      margin: 0;
    }

    &__buttons-container {
      display: flex;
      gap: 16px;
    }
  }
}