.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 4px 25.1px 0px rgba(0, 0, 0, 0.10);
  position: fixed;
  z-index: 1;
  top: 0;

  &__logo {
    height: 44px;
  }

  &__actions {
    display: flex;
    gap: 8px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border-radius: 6px;
      position: relative;

      &:hover {
        background-color: #f6f6f6;
        cursor: pointer;
      }

      &__counter {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 22px;
        background-color: #8d0000;
        color: white;
        border-radius: 99px;
        padding: 1px;
      }
    }
  }
}