.page-title {
  margin-top: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.favoirites-list {
  margin-top: 20px;
}

.not-found {
  width: 100vw;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & span {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.56);
  }
}